.wrapper{
    display: flex;
    flex-direction: row;
}

.socialLink{
    width: 1.51041666667vw;
    height: 1.51041666667vw;

    margin-top: 2.60416666667vw;
    margin-left: 2.08333333333vw;
}

.socialImg{
    width: 1.51041666667vw;
    height: 1.51041666667vw;
}
.socialFirst{
    margin-left: 0;
}