.btn {
    margin-top: 2.08333333333vw;

    width: 9.53125vw;
    height: 2.76041666667vw;

    background-color: transparent;

    text-decoration: none;

    color: #F5F5F5;
    border: 0.10416666666vw solid #F5F5F5;
    border-radius: 0.52083333333vw;


    transition: all 1s;
    display: inline-flex;
    position: relative;
    z-index: 999;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 0%;
        top: 0;
        left: -40px;
        transform: skewX(45deg);
        background-color: #2E2E2E;
        z-index: -1;
        transition: all 1s;
    }

    &:hover::before {
        width: 160%;
    }

    span{
        margin-top: 0.57291666666vw;
        margin-left: 1.77083333333vw;

        font-weight: 400;
        font-size: 1.04166666667vw;
        line-height: 1.50833333333vw;
        font-family: NotoSansRegular;
        width: 5.98958333333vw;
        height: 1.51041666667vw;
        position: relative;
        z-index: 30;
        text-transform: uppercase;
    }
}
