.LinkText {
    margin-top: 3.4375vw;
    margin-left: 6.25vw;



    position: relative;
    z-index: 999;
    color: #F5F5F5;
    font-size: 1.04166666667vw;
    line-height: 1.50833333333vw;
    text-decoration: none;
    font-family: NotoSansRegular;
    text-transform: uppercase;
    font-weight: 400;
}
.FirstLink{
    margin-left: 9.73958333333vw;
}

.MenuWrapper {
    display: flex;
    flex-direction: row;
}
.selected{
    font-size: 1.25vw;
    line-height: 1.80989583333vw;
    font-family: NotoSansMedium;
    text-decoration: underline;
}