#root {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.starComponent {
  position: absolute;

  margin-left: 12.2395833333vw;
}

.star {
  margin-top: 2.08333333333vw;
  margin-right: 0.41666666666vw;
  width: 1.24166666667vw;
  height: 1.24166666667vw;


  transition: all 0.17s;
}

.starComponent input[type=radio] {
  display: none;
}
