* {
  margin: 0 ;
  padding: 0 ;
}
body {
  background: #D3D3D3;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: "NotoSansBold";
  src: local("NotoSansBold"),
  url("./fonts/NotoSansJP-Bold.otf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "NotoSansRegular";
  src: local("NotoSansRegular"),
  url("./fonts/NotoSansJP-Regular.otf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "NotoSansMedium";
  src: local("NotoSansMedium"),
  url("./fonts/NotoSansJP-Medium.otf") format("truetype");
  font-weight: 500;
}

