:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #F5F5F5;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #F5F5F5;
  }
  button {
    background-color: #f9f9f9;
  }
  input{
    color: #213547;
    background-color: #f9f9f9;
  }
}
@font-face {
  font-family: "NotoSansBold";
  src: local("NotoSansBold"),
  url("./fonts/NotoSansJP-Bold.otf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "NotoSansRegular";
  src: local("NotoSansRegular"),
  url("./fonts/NotoSansJP-Regular.otf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "NotoSansMedium";
  src: local("NotoSansMedium"),
  url("./fonts/NotoSansJP-Medium.otf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "NotoSansThin";
  src: local("NotoSansThin"),
  url("./fonts/NotoSansJP-Thin.otf") format("truetype");
  font-weight: 100;
}
