.slider{
    margin-top: 4.16666666667vw;

    width: 79.1666666667vw;
    height: 48.9583333333vw;
}
.items{
    display: flex;
    flex-direction: row;
}
.images{
    width: 39.53125vw;
    height: 36.9791666667vw;
}