.wrapper{
    display: flex;
    flex-direction: row;
    h1 {
        margin-left: 10.4166666667vw;
        margin-top: 2.85vw;

        width: 10.4166666667vw;
        height: 2.39583333333vw;

        z-index: 999;

        a{
            font-size: 1.66666666667vw;
            line-height: 2.41354166667vw;
            color: #F5F5F5;
            font-family: NotoSansBold;
            font-weight: 700;
            text-decoration: none;
        }
    }
}
.alt{
    background-color: #D85A47;
    display: flex;
    flex-direction: row;
    h1 {
        margin-bottom: 2.86458333333vw;
        margin-left: 10.4166666667vw;
        margin-top: 2.85vw;

        width: 10.4166666667vw;
        height: 2.39583333333vw;

        z-index: 999;
        a{
            font-size: 1.66666666667vw;
            line-height: 2.41354166667vw;
            color: #F5F5F5;
            font-family: NotoSansBold;
            font-weight: 700;
            text-decoration: none;
        }
    }
}
.headerBack{
    left: 0;
    width: 69.8958333333vw;
    height: 64.375vw;

    position: absolute;

    z-index: 1;
}