.wrapper {
  display: flex;
  flex-direction: row;

  margin-top: 4.16666666667vw;
}
.imgMain{
  width: 31.25vw;
  height: 36.1979166667vw;
}

.wrapperSwiper {
  margin-top: 13.59375vw;

  width: 70vw;
  height: 26.875vw;

  :global(.swiper-pagination) {
    bottom: 0 !important;
  }

  :global(.swiper-slide) {
    margin-left: 3.125vw !important;
  }
  :global(.swiper-pagination) {
    margin-left: -7vw !important;
  }

  :global(.swiper-pagination-bullet) {

    width: 0.7vw !important;
    height: 0.7vw !important;

    background: transparent !important;
    border: solid 0.10416666666vw #D85A47 !important;
    opacity: 1 !important;

    margin-right: 1vw !important;
  }

  :global(.swiper-pagination-bullet-active) {
    background: #D85A47 !important;
  }
}

.el {
  width: 21.1458333333vw;
  height: 21.3020833333vw;
}