.wrapper{
    display: flex;
    flex-direction: row;
}

.mainText{
    margin-left: 10.4166666667vw;
    margin-top: 2.85vw;

    width: 10.4166666667vw;
    height: 2.39583333333vw;

    font-size: 1.66666666667vw;
    line-height: 2.41354166667vw;
    color: #F5F5F5;
    font-family: NotoSansBold;
    font-weight: 700;

    z-index: 999;
}