.wrapper {
  margin-top: 10.4166666667vw;

  display: flex;
  flex-direction: column;

  h1 {
    margin-left: 10.4166666667vw;
    font-family: NotoSansMedium;
    font-size: 3.38541666667vw;
    line-height: 4.89583333333vw;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #2E2E2E;
  }
}