.wrapper {
  display: flex;
  flex-direction: column;

  width: 21.1458333333vw;
  height: 21.3020833333vw;

  background: #FFFFFF;

  box-shadow: 0.52083333333vw 0.78125vw 1.71875vw 0vw #00000040;
}

.infoPart {
  display: flex;
  flex-direction: row;

  section {
    display: flex;
    flex-direction: column;

    margin-left: 1.5625vw;
    margin-top: 3.38541666667vw;

    h3 {
      font-family: NotoSansMedium;
      font-size: 1.04166666667vw;
      line-height: 1.51041666667vw;
      letter-spacing: 0.04em;
      text-align: left;
      color: #2E2E2E;
    }

    p {
      font-family: NotoSansRegular;
      font-size: 0.72916666666vw;
      line-height: 1.04166666667vw;
      letter-spacing: 0.08em;
      text-align: left;
      color: #2E2E2E80;
    }
  }
}

.imgBack {
  margin-top: 2.60416666667vw;

  width: 7.29166666667vw;
  height: 4.16666666667vw;
}


.textAndRating {
  display: flex;
  flex-direction: column;

  padding-left: 2.08333333333vw;

  :global .starComponent {
    position: static;
    margin-left: 0vw;
  }
  :global .star {
    margin-top: 1.04166666667vw;
  }

  p {
    margin-top: 0.52083333333vw;

    width: 16.9791666667vw;
    height: 7.1875vw;

    font-family: NotoSansRegular;
    font-size: 0.83333333333vw;
    line-height: 1.19791666667vw;
    letter-spacing: 0.04em;
    text-align: left;

    color: #2E2E2E;
  }
}
