.wrapper {
  :global(.swiper) {
    margin-left: -1vw !important;
  }
}

.wrapperSwiper {
  margin-top: 4.16666666667vw;
  margin-left: 10vw;
  width: 90vw;
  height: 35.7291666667vw;

  :global(.swiper-slide) {
    margin-left: 1vw !important;
  }
  :global(.swiper-pagination-bullet) {

    width: 0.7vw !important;
    height: 0.7vw !important;

    background: transparent !important;
    border: solid 0.10416666666vw #D85A47 !important;
    opacity: 1 !important;

    margin-left: 1vw !important;
  }

  :global(.swiper-pagination-bullet-active) {
    background: #D85A47 !important;
  }
}

.el {


  padding-top: 7vw;
  padding-bottom: 7vw;

  width: 44.3125vw;
  height: 25.7291666667vw;
}
