.CartIcon{
    margin-left: 3.28125vw;
    margin-top: 3.125vw;

    width: 1.875vw;
    height: 1.875vw;
}
.ProfileIcon{
    margin-left: 13.8020833333vw;
    margin-top: 3.125vw;

    width: 1.875vw;
    height: 1.875vw;
}