.wrapper{
    display: flex;
    flex-direction: column;

    margin-left: 10.4166666667vw;
    margin-top: 11.875vw;
}
.MainText{
    width: 26.2604166667vw;
    height: 12.8125vw;

    z-index: 800;

    letter-spacing: 0.01em;
    font-weight: 700;
    font-size: 4.6875vw;
    font-family: NotoSansBold;
    line-height: 4.2796875vw;
    color: #F5F5F5;
    text-align: left;
}
.MainText span{
    color: #2E2E2E;
}
.Logo{
    position: absolute;
    z-index: 999;

    width: 3.78385416667vw;
    height: 3.38541666667vw;

    margin-top: 5.05208333333vw;
}
.SmallText{
    z-index: 999;

    margin-top: 2.86458333333vw;
    width: 25.8333333333vw;
    height: 4.53125vw;

    font-size: 1.04166666667vw;
    line-height: 1.51041666667vw;
    text-align: left;
    letter-spacing: 0.08em;
    color: #F5F5F5;
    font-family: NotoSansRegular;
}