.wrapper{
    display: flex;
    flex-direction: column;
    margin-left: 0.52083333333vw;
}
.firstText{
    margin-top: 2.45vw;

    width: 12.5479166667vw;
}
.secondText{
    margin-top: 2.50375vw;

    width: 15.8125vw;
}
.thirdText{
    margin-top: 2.54791666667vw;

    width: 8.45vw;
}
.fourthText{
    margin-top: 2.61791666667vw;

    width: 15vw;
 }
.text{
    height: 1.51041666667vw;

    font-family: NotoSansRegular;
    font-weight: 400;
    font-size: 1.04166666667vw;
    line-height: 1.51041666667vw;
    text-decoration: none;

    letter-spacing: 0.04em;

    color: #2E2E2E;
}

