.wrapper {
  margin-left: 47.3958333333vw;
  display: flex;
  align-items: center;

  li {
    margin-right: 2.8125vw;

    font-family: NotoSansRegular;
    font-size: 1.04166666667vw;
    line-height: 1.51041666667vw;
    letter-spacing: 0.04em;
    text-align: left;
    text-transform: uppercase;

    transition: color ease-in-out 0.2s;

    display: inline-flex;
    cursor: pointer;
    user-select: none;
    vertical-align: top;
  }
}

.activeChoice {
  font-family: NotoSansMedium !important;
  font-size: 1.25vw !important;
  line-height: 1.82291666667vw !important;
  letter-spacing: 0.04em !important;
  text-align: left !important;
  color: #D85A47;
  text-decoration: underline;
}